<ng-template #dialogUpload let-data let-ref="dialogRef">
  <nb-card status="{{classColor}}">
    <nb-card-header>
      <div class="row">
        <div class="col-6">
          Input Dokumen
        </div>
        <div class="col-6 text-right">
          <a style="cursor: pointer;" (click)="ref.close()">
            <nb-icon icon="close-outline" status="{{classColor}}" [options]="{ animation: { type: 'pulse' } }">
            </nb-icon>
          </a>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <!-- <label class="upload-button">
        <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
          [uploadInput]="uploadInput" multiple>
        or choose file(s)
      </label>
 -->
      <div class="upload-box-content">
        <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)"
          [uploadInput]="uploadInput">
          <p>
            <label class="upload-button">
              <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
                [uploadInput]="uploadInput" multiple> browse
            </label>
            to upload.
          </p>
        </div>
        <div class="upload-item" *ngFor="let f of files; let i = index;">
          <div class="upload-item-content">
            <div class="filename" *ngIf="f.progress?.data?.percentage !== 100" style="display: flex;">
              <div class="filename-left">
                <i class="ionicon ion-ios-copy"></i>
                <span>{{ f.name }}</span>
              </div>
              <div class="text-right" style="margin-left: 20px;">
                <i class="ionicon ion-close-round" (click)="removeFile(f.id)"></i>
              </div>
            </div>
            <div class="progress-content" *ngIf="f.progress?.data?.percentage !== 100">
              <div class="progress">
                <span class="bar" [style.width]="f?.progress?.data?.percentage + '%'"
                  [class.is-done]="f?.progress?.data?.percentage === 100"></span>
              </div>
            </div>
            <div class="progress-text-content" *ngIf="f.progress?.data?.percentage !== 100">
              <span class="progress-text" [class.is-done]="f?.progress?.data?.percentage === 100">
                <span>{{ f.progress?.data?.percentage }}% </span>
                <span *ngIf="f.progress?.data?.percentage !== 100">Uploading...</span>
                <span *ngIf="f.progress?.data?.percentage === 100">Done</span>
              </span>
              <span class="speed-and-eta-text"
                *ngIf="f.progress?.data?.percentage !== 0 && f.progress?.data?.percentage !== 100">
                <span>{{ f.progress?.data?.speedHuman }} </span>
                <span>ETA {{ f.progress?.data?.etaHuman }}</span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div *ngFor="let fileDownload of fileDownload; let i = index">
        <!-- <a style="cursor: pointer;" (click)="downloadFile(fileDownload)"> -->
        <a style="cursor: pointer;" (click)="openWindow(contentTemplate2,fileDownload)">
          <nb-icon icon="file-text-outline" status="{{classColor}}" [options]="{ animation: { type: 'pulse' } }">
          </nb-icon>
          {{fileDownload}}
        </a>
        <a style="cursor: pointer;" (click)="deletFile(i)">
          <nb-icon icon="trash-2-outline" status="danger" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
        </a>
        <ng-template #contentTemplate2 let-data>
          <div class="pdf-container">
            <pdf-viewer [src]="fileViewPdf" [original-size]="false"></pdf-viewer>
          </div>
        </ng-template>

      </div>
    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-primary mr-1 start-upload-btn" (click)="startUpload()">Start Upload</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<ng-template #contentTemplate3 let-data>
  <div class="pdf-container">
    <pdf-viewer [src]="fileViewPdf" [original-size]="false"></pdf-viewer>
  </div>
</ng-template>
<nb-card status="{{classColor}}">
  <nb-card-header *ngIf="user.kelompok == 70">
    Pengesahan Kapolres
  </nb-card-header>
  <nb-card-header *ngIf="user.kelompok == 80">
    Validasi Kasatfung
  </nb-card-header>
  <nb-card-body>
    <div>
      <nb-card>
        <nb-card-header>
          KETERANGAN POLRES
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-md-12">
              <div class="row show-grid">
                <div class="col-sm-0 col-md-2">
                  <div align="center">1.</div>
                </div>
                <div class="col-sm-2">
                  <div align="right">NAMA POLRES</div>
                </div>
                <div class="col-sm-4">
                  <div align="left">
                    <div class="form-group">
                      <B>{{namaSatker}}</B>
                      <!-- <nb-select selected=0 fullWidth class="pull-right status-info shape-rectangle">
                        <nb-option value=0 (click)="prinsipClick2(event)">Semua</nb-option>
                        <nb-option *ngFor="let x of prinsipx" value="x.id" (click)="prinsipClick2(x.id)">{{ x.prinsip }}</nb-option>
                    </nb-select> -->
                    </div>
                  </div>
                </div>
                <div class="col-sm-4"></div>
              </div>
              <!-- <div class="row show-grid">
              <div class="col-sm-2">
                <div align="center">2.</div>
              </div>
              <div class="col-sm-2">
                <div align="right">TYPE POLRES</div>
              </div>
              <div class="col-sm-4">
                <div align="left">
                  <div class="form-group">
                    <B>- </B>
                  </div>
                </div>
              </div>
              <div class="col-sm-4"></div>
            </div> -->
              <div class="row show-grid" *ngIf="user.kelompok == 70">
                <div class="col-sm-2">
                  <div align="center">2.</div>
                </div>
                <div class="col-sm-2">
                  <div align="right">Nama KAPOLRES</div>
                </div>
                <div class="col-sm-8">
                  <div align="left"><input type="text" class="col-lg-4" nbInput fullWidth fieldSize="small"
                      placeholder="" [(ngModel)]="nama_kapolres"></div>
                </div>
              </div>
              <div class="row show-grid" *ngIf="user.kelompok == 70">
                <div class="col-sm-2">
                  <div align="center">3.</div>
                </div>
                <div class="col-sm-2">
                  <div align="right">Notelp/HP KAPOLRES</div>
                </div>
                <div class="col-sm-8">
                  <div align="left"><input type="text" class="col-lg-4" nbInput fullWidth fieldSize="small"
                      placeholder="" [(ngModel)]="no_kapolres"></div>
                </div>
              </div>
              <div class="row show-grid" *ngIf="user.kelompok == 70">
                <div class="col-sm-2">
                  <div align="center">4.</div>
                </div>
                <div class="col-sm-2">
                  <div align="right">NRP dan Pangkat</div>
                </div>
                <div class="col-sm-8">
                  <div align="left"><input type="text" class="col-lg-4" nbInput fullWidth fieldSize="small"
                      placeholder="" [(ngModel)]="nrp"></div>
                </div>
              </div>
              <div class="row show-grid" *ngIf="user.kelompok == 70">
                <div class="col-sm-2">
                  <div align="center">5.</div>
                </div>
                <div class="col-sm-2">
                  <div align="right">Lembar Pengesahan</div>
                </div>
                <div class="col-sm-8">
                  <div align="left">
                    <button class="btn btn-primary mr-1 text-center" (click)="open(dialogUpload)">Upload</button>
                    <button class="btn btn-primary mr-1 text-center"
                      (click)="openWindow(contentTemplate3,fileDownload[fileDownload.length - 1])"
                      *ngIf="fileDownload.length > 0">Lihat
                      Pengesahan</button>
                  </div>
                </div>
              </div>
              <div class="row show-grid"></div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <ng2-smart-table [settings]="satfungs" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
        (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)"
        (custom)="onCustomAction($event)">
      </ng2-smart-table>
      <hr>
    </div>
    <div class="row card-footer">
      <div class="col-6 text-left">
        <input class="btn btn-info mr-1 text-center" type="button" value="Cetak" (click)="cetak()" />
      </div>
      <div class="col-6 text-right">
        <button class="btn btn-primary mr-1 text-center" (click)="simpan()" *ngIf="user.kelompok == 70">Simpan</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<div id="contentToConvert" hidden>
<nb-card style="margin: 10vh;"> 
  <br>
  <br>
  <div align="left">NAMA POLRES : <B>{{namaSatker}}</B></div>
  <br>

    <ng2-smart-table [settings]="satfungss" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)" (custom)="onCustomAction($event)">
    </ng2-smart-table>
    <hr>
  </nb-card>
</div>