@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

:host /deep/ ng2-smart-table table {
  // border-style: inset;
  // border-color: initial;
  // border-image: initial;
  // border-width: 2px;

  // display: table;
  // border-spacing: 2px;
  // border-color: grey; /* border of the big table*/
}

/* grid lines */
:host /deep/ ng2-smart-table table>tbody>tr>td {
  box-sizing: border-box;
  border: 1px solid grey;
  font-weight: inherit;
  font-size: 0.7000rem;

}

/* headers grid color*/
:host /deep/ ng2-smart-table thead>tr>th {
  border: 1px solid grey;
  font-weight: bold;
  background-color: khaki;
}

/*font size*/
:host /deep/ ng2-smart-table {
  font-size: 0.7000rem;
}

:host /deep/ ng2-st-tbody-edit-delete {
  display: flex !important;
  height: 0 !important;
}

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  display: inline-block;
  width: 50px;
  text-align: center;
  font-size: 1.1em;
}

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: #5dcfe3;
}