
<div class="row">
  <div class="text-center">
    <!-- xxx -->
  </div>
  <div class="col-4">

  </div>
  <div class="col-4">
  <nb-card status="danger">
    <nb-card-header>
    LOGIN
    </nb-card-header>
    <nb-card-body>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="namaUser">Username</label>
        <input type="text" formControlName="namaUser" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.namaUser.errors }" />
        <div *ngIf="submitted && f.namaUser.errors" class="invalid-feedback">
          <div *ngIf="f.namaUser.errors.required">namaUser is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="kataSandi">Password</label>
        <input type="password" formControlName="kataSandi" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.kataSandi.errors }" />
        <div *ngIf="submitted && f.kataSandi.errors" class="invalid-feedback">
          <div *ngIf="f.kataSandi.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        <!-- <a routerLink="/register" class="btn btn-link">Register</a> -->
      </div>
    </form>
  </nb-card-body>
</nb-card>            
  </div>
  <div class="col-4">
    
  </div>
</div>
