@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}
:host /deep/ ng2-smart-table table > tbody > tr > td {
  box-sizing: border-box;
  border: 1px solid grey;
  font-weight: inherit;
  font-size:0.7000rem;

}

/* headers grid color*/
:host /deep/ ng2-smart-table thead > tr > th  { 
  border: 1px solid grey;
  font-weight: bold;
}  
/*font size*/
:host /deep/ ng2-smart-table {
  font-size:0.7000rem;
}