<nb-card>
  <nb-card-header>
    Master Indikator
  </nb-card-header>
  <nb-card-body>
      <button (click)="toggle()" id="btToggle" class="btn btn-info btn-md" >{{button_name}}</button>
      <hr style="background-color: azure">
      <nb-card class="form-group">
      <div class="row" *ngIf="show_dialog">
        <div class="col-md-4">
          <nb-card>
          <!-- <nb-card style="background-color: azure">             -->
            <nb-card-body>
              <form>
                <div class="form-group">
                  <label for="inputEmail1" class="label">id</label>
                  <input type="text" nbInput fullWidth id="inputEmail1" placeholder="kode" value={{id}}>
                </div>
                <div class="form-group">
                  <label for="inputPassword2" class="label">Periode</label>
                  <input type="text" nbInput fullWidth id="inputPassword2" placeholder="Prinsip" value={{kode_periode}}>
                </div>
              </form>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-8">
          Penilaian Details
          <nb-card-body>
            <ng2-smart-table [settings]="indikatorDetails" [source]="sourceDetails" (deleteConfirm)="onDeleteConfirmD($event)" (editConfirm)="onSaveConfirmD($event)"
            (createConfirm)="onCreateConfirmD($event)       ">
            </ng2-smart-table>
          </nb-card-body>
        </div>
      </div>
    </nb-card>
      <ng2-smart-table [settings]="indikators" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
      (createConfirm)="onCreateConfirm($event)" (userRowSelect)="onUserRowSelect($event)">
      </ng2-smart-table>
  </nb-card-body>
</nb-card>