<nb-card class="col-md-12 col-lg-12 col-xxxl-12" status="info">
  <nb-card-header>
      <div class="text-center">FORM PERSEPSI INTERNAL POLRES</div>
  </nb-card-header>
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Satfung</ng-template>
        <hr>
        <div class="row">
          <div class="col-md-4 col-sm-1">
          </div>
          <div class="col-md-4 col-sm-10 text-center">     
            <div class="form-group">
              <h3>Pilih Satfung</h3>
              <nb-select placeholder="Pilih Satfung" filled status="info" fullWidth class="pull-right status-info shape-rectangle" formControlName="namaSatfung">
                  <nb-option *ngFor="let x of satfungx" value="x.id">{{ x.singkatan }}</nb-option>
              </nb-select>
            </div> 
          </div>
          <div class="col-md-4 col-sm-1">
          </div>
        </div>
        <hr>               
        <button nbButton disabled nbStepperNext>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>POLRES</ng-template>
        <hr>
        <div class="row">
          <div class="col-md-4 col-sm-1">
          </div>
          <div class="col-md-4 col-sm-10 text-center">     
            <div class="form-group">
              <h3>Pilih POLRES</h3>
              <nb-select placeholder="Pilih Polres" filled status="info" fullWidth class="pull-right status-info shape-rectangle" formControlName="namaSatfung">
                  <nb-option *ngFor="let x of satkerx" value="x.kode">{{ x.satker }}</nb-option>
              </nb-select>
            </div> 
          </div>
          <div class="col-md-4 col-sm-1">
          </div>
        </div>
        <hr> 
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step label="Third step">
        <ng-template #labelThree>3. Question</ng-template>
        <h3>SQuestion</h3>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>4. SATSABHARA</ng-template>
        <h3>SATSABHARA</h3>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>5. SIPROPAM</ng-template>
        <h3>SIPROPAM</h3>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>