<div class="row">
    <div class="col-lg-12">
        <nb-card>
        <nb-card-header>
            <div class="text-center">PENGISIAN DATA INDEKS TATA KELOLA KEPOLISIAN</div>
        </nb-card-header>
        <nb-card-body>
        <nb-card accent="danger">
        <nb-card-header>
            KETERANGAN POLRES
        </nb-card-header>
        <nb-card-body>
            <div class="row" >
            <div class="col-md-12">
                <div class="row show-grid">
                <div class="col-sm-0 col-md-2">
                    <div align="center">1.</div>
                </div>
                <div class="col-sm-2">
                    <div align="right">POLRES</div>
                </div>
                <div class="col-sm-4">
                    <div align="left">
                    <div class="form-group">
                        <B>{{ nama_satker}} </B>
                    </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                </div>
                <div class="row show-grid">
                <div class="col-sm-2">
                    <div align="center">2.</div>
                </div>
                <div class="col-sm-2">
                    <div align="right">TYPE POLRES</div>
                </div>
                <div class="col-sm-4">
                    <div align="left">
                    <div class="form-group">
                        <B>{{ nama_tipe_polres}} </B>
                    </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                </div>
                <div class="row show-grid">
                <div class="col-sm-2">
                    <div align="center">3.</div>
                </div>
                <div class="col-sm-2">
                    <div align="right">Satfung</div>
                </div>
                <div class="col-sm-4">
                    <div align="left">
                    <div class="form-group">
                        <B>{{ nama_satfung}} </B>
                    </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                </div>
                <div class="row show-grid">
                <div class="col-sm-2">
                    <div align="center">4.</div>
                </div>
                <div class="col-sm-2">
                    <div align="right">Nama KA{{nama_satfung}}</div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <B>{{ nama_satfung}} </B>
                    </div>
                </div>
                </div>
                <div class="row show-grid">
                <div class="col-sm-2">
                    <div align="center">5.</div>
                </div>
                <div class="col-sm-2">
                    <div align="right">Notelp/HP KA{{nama_satfung}}</div>
                </div>
                <div class="col-sm-8">
                        <div class="form-group">
                                <B>{{ nama_satfung}} </B>
                            </div>                </div>
                </div>
                <div class="row show-grid">
                <div class="col-sm-2">
                    <div align="center">6.</div>
                </div>
                <div class="col-sm-2">
                    <div align="right">Nama Staff {{nama_satfung}}</div>
                </div>
                <div class="col-sm-8">
                        <div class="form-group">
                                <B>{{ nama_satfung}} </B>
                            </div>                </div>
                </div>
                <div class="row show-grid">
                <div class="col-sm-2">
                    <div align="center">7.</div>
                </div>
                <div class="col-sm-2">
                    <div align="right">Notelp/HP Staff {{nama_satfung}}</div>
                </div>
                <div class="col-sm-8">
                        <div class="form-group">
                                <B>{{ nama_satfung}} </B>
                            </div>                </div>
                </div>
                <div class="row show-grid"></div>
            </div>
            </div>
        </nb-card-body>
        </nb-card>
        <nb-card accent="info">
            <nb-card-header>
                DAFTAR DATA OBJEKTIF 
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
                    <div *ngFor="let ticket of t.controls; let x of ticket; let i = index" class="list-group list-group-flush">
                        <div [formGroup]="ticket" class="row">
                            <div class="form-group col-1 text-center" *ngIf="x.value.jenis === 'P'">
                                {{i+1}}
                            </div>
                            <div class="form-group col-1" *ngIf="x.value.jenis === 'D'">
                            </div>
                            <div class="form-group col-10" *ngIf="x.value.jenis === 'P'">
                               <B>{{x.value.indikator}}</B>
                            </div>
                            <div class="form-group col-3" *ngIf="x.value.jenis === 'D'">
                                {{x.value.indikator}}
                            </div>
                            <!-- <div class="form-group col-4" *ngIf="x.value.jenis === 'D'">
                            </div>
                            <div class="form-group col-3" *ngIf="x.value.jenis === 'P'">
                            </div>
                            <div class="form-group col-3" *ngIf="x.value.jenis === 'D'">
                                {{x.value.indikator}}
                            </div> -->
                            <div class="form-group col-1" *ngIf="x.value.jenis === 'D'">
                                <input type="text" formControlName="nilai" class="form-control" fullWidth fieldSize="small"/>
                                
                            </div>
                            <div class="form-group col-1" *ngIf="x.value.jenis === 'D'">
                                {{x.value.satuan}}
                            </div>
                            <!-- <div class="form-group col-2" *ngIf="x.value.arsip_link == '' && x.value.jenis === 'D'">
                                <input id="myForm" formControlName="arsip_link" type="file" name="file" (change)="postMethod($event.target.files)">
                            </div>    -->
                            <div class="form-group col-2" *ngIf="x.value.arsip_link == '' && x.value.jenis === 'D'">
                                Tidak ada file.
                            </div>   
                            <div class="form-group col-2" *ngIf="x.value.arsip_link !== '' && x.value.jenis === 'D'">
                                <a href="{{x.value.arsip_link}}">
                                <nb-icon icon="file-text-outline" status="primary" [options]="{ animation: { type: 'pulse' } }"></nb-icon>Download
                                </a>
                            </div>  
                            <div class="form-group col-1 text-right" *ngIf="x.value.jenis === 'D'">
                                <nb-checkbox status="success">Validasi</nb-checkbox>
                            </div> 
                            <div class="form-group col-1 text-right" *ngIf="x.value.jenis === 'D'">
                                Catatan : 
                            </div> 
                            <div class="form-group col-2 text-right" *ngIf="x.value.jenis === 'D'">
                                <!-- <small><label>Catatan.</label></small>  -->
                                <input  type="text" formControlName="id" class="form-control" fullWidth fieldSize="small"/>
                            </div>                        
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary mr-1" type="submit">Simpan</button>
                        <!-- <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()">Reset</button>
                        <button class="btn btn-secondary" type="button" (click)="onClear()">Clear</button> -->
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
        </nb-card-body>
        </nb-card>
    </div>
</div>
<ng-template #contentTemplate let-data>
<p>Validasi?</p>
</ng-template>