<nb-card status="primary">
  <nb-card-header>
    Monitoring Pokja
  </nb-card-header>

  <nb-card-body>
    <div class="col-lg-4">
      <nb-card>
        <nb-card-body>
          <div class="form-group">
            <label class="label">Prinsip : {{namaPrinsip}}</label>
          </div>
          <div class="form-group">
            <label class="label">Polres</label>
            <nb-select selected=0 fullWidth class="pull-right status-info shape-rectangle"
              (selectedChange)="getPrinsipBySatkerAndId($event)" formControlName="namaPolres">
              <nb-option value=0>Pilih Polres</nb-option>
              <nb-option *ngFor="let x of satkerx" [value]="x">{{ x.satker }}</nb-option>
            </nb-select>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <ng2-smart-table [settings]="bench" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
