<div class="row">
  <div class="col-12">

    <form [formGroup]="formSearch" (ngSubmit)="onSubmitKapolres()">
      <div class="row" style="text-align: center;">
        <div class="form-group col-6">
        </div>
        <div class="form-group col-2">
          <label class="label">Polda</label>
          <nb-select selected=0 fullWidth class="pull-right status-info shape-rectangle" formControlName="namaPolda"
            (ngModelChange)="getDropdownPolres($event)">
            <nb-option value=0>Pilih Polda</nb-option>
            <nb-option *ngFor="let x of satkerPolda" [value]="x">{{ x.satker }}</nb-option>
          </nb-select>
        </div>
        <div class="form-group col-2">
          <label class="label">Polres</label>
          <nb-select selected=0 fullWidth class="pull-right status-info shape-rectangle" formControlName="namaPolres">
            <nb-option value=0>Pilih Polres</nb-option>
            <nb-option *ngFor="let x of satkerx" [value]="x">{{ x.satker }}</nb-option>
          </nb-select>
        </div>
        <div class="form-group col-2">
          <label class="label">Tahun</label>
          <nb-select selected=0 fullWidth class="pull-right status-info shape-rectangle" formControlName="periode">
            <nb-option value=0>Pilih Tahun</nb-option>
            <nb-option *ngFor="let x of listPeriode" [value]="x">{{ x.tahun }}</nb-option>
          </nb-select>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12">
    <h3>{{namaPolres}}</h3>
  </div>
  <div class="col-12" style="margin-bottom: 10px;">
    <nb-card style="height: 100%;">
      <nb-card-body style="padding-top: 25px;">
        <div class="row" style="text-align: center;">
          <div class="col-3">
            <ngx-peringkat-itk></ngx-peringkat-itk>
          </div>
          <div class="col-3">
            <ngx-skor-itk [param]="param('con')"></ngx-skor-itk>
          </div>
          <div class="col-3">
            <ngx-sim-skck></ngx-sim-skck>
          </div>
          <div class="col-3">
            <ngx-sub-indeks></ngx-sub-indeks>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12">
    <ngx-kinerja-tata-kelola-itk></ngx-kinerja-tata-kelola-itk>
  </div>
</div>