<div class="row">
    <div class="col-lg-12">
        <nb-card>
        <nb-card-header>
            <div class="text-center">PENGISIAN DATA INDEKS TATA KELOLA KEPOLISIAN</div>
        </nb-card-header>
        <nb-card-body>
        <nb-card accent="danger">
        <nb-card-header>
            KETERANGAN POLRES
        </nb-card-header>
        <nb-card-body>
            <div class="row" >
            <div class="col-md-12">
                <div class="row show-grid">
                <div class="col-sm-0 col-md-2">
                    <div align="center">1.</div>
                </div>
                <div class="col-sm-2">
                    <div align="right">POLRES</div>
                </div>
                <div class="col-sm-4">
                    <div align="left">
                    <div class="form-group">
                        <B>{{ nama_satker}} </B>
                        <!-- <nb-select selected=0 fullWidth class="pull-right status-info shape-rectangle">
                            <nb-option value=0 (click)="prinsipClick2(event)">Semua</nb-option>
                            <nb-option *ngFor="let x of prinsipx" value="x.id" (click)="prinsipClick2(x.id)">{{ x.prinsip }}</nb-option>
                        </nb-select> -->
                    </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                </div>
                <div class="row show-grid">
                <div class="col-sm-2">
                    <div align="center">2.</div>
                </div>
                <div class="col-sm-2">
                    <div align="right">TYPE POLRES</div>
                </div>
                <div class="col-sm-4">
                    <div align="left">
                    <div class="form-group">
                        <B>{{ nama_tipe_polres}} </B>
                    </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                </div>
                <div class="row show-grid">
                <div class="col-sm-2">
                    <div align="center">3.</div>
                </div>
                <div class="col-sm-2">
                    <div align="right">Satfung</div>
                </div>
                <div class="col-sm-4">
                    <div align="left">
                    <div class="form-group">
                        <B>{{ nama_satfung}} </B>
                    </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                </div>
                <div class="row show-grid">
                <div class="col-sm-2">
                    <div align="center">4.</div>
                </div>
                <div class="col-sm-2">
                    <div align="right">Nama KA{{nama_satfung}}</div>
                </div>
                <div class="col-sm-8">
                    <div align="left"><input type="text" class="col-lg-4" nbInput fullWidth fieldSize="small"  placeholder=""></div>
                </div>
                </div>
                <div class="row show-grid">
                <div class="col-sm-2">
                    <div align="center">5.</div>
                </div>
                <div class="col-sm-2">
                    <div align="right">Notelp/HP KA{{nama_satfung}}</div>
                </div>
                <div class="col-sm-8">
                    <div align="left"><input type="text" class="col-lg-4" nbInput fullWidth fieldSize="small"  placeholder=""></div>
                </div>
                </div>
                <div class="row show-grid">
                <div class="col-sm-2">
                    <div align="center">6.</div>
                </div>
                <div class="col-sm-2">
                    <div align="right">Nama Staff {{nama_satfung}}</div>
                </div>
                <div class="col-sm-8">
                    <div align="left"><input type="text" class="col-lg-4" nbInput fullWidth fieldSize="small"  placeholder=""></div>
                </div>
                </div>
                <div class="row show-grid">
                <div class="col-sm-2">
                    <div align="center">7.</div>
                </div>
                <div class="col-sm-2">
                    <div align="right">Notelp/HP Staff {{nama_satfung}}</div>
                </div>
                <div class="col-sm-8">
                    <div align="left"><input type="text"  class="col-lg-4" nbInput fullWidth fieldSize="small"  placeholder=""></div>
                </div>
                </div>
                <div class="row show-grid"></div>
            </div>
            </div>
        </nb-card-body>
        </nb-card>
        <nb-card accent="info">
            <nb-card-header>
                DAFTAR DATA OBJEKTIF 
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()"> 
                    <div *ngFor="let ticket of t.controls; let x of ticket; let i = index" class="list-group list-group-flush">
                        <div [formGroup]="ticket" class="row">
                            <div class="form-group col-1 text-center">
                                {{i+1}}
                            </div>
                            <div class="form-group col-3">
                                <B>{{x.value.indikator}}</B>
                            </div>
                            <div class="form-group col-8" *ngIf="x.value.id_tipe_indikator == 0">
                                <div class="row">
                                <div class="form-group col-5">
                                    -
                                </div>
                                <div class="form-group col-1">
                                    <input type="text" formControlName="nilai" class="form-control" fullWidth fieldSize="small"/>
                                </div>
                                <div class="form-group col-1">
                                    {{x.value.satuan}}
                                </div>
                                <div class="form-group col-2" *ngIf="x.value.arsip_link == ''">
                                    <input id="myForm" formControlName="arsip_link" type="file" name="file" (change)="postMethod($event.target.files)">
                                </div>   
                                <div class="form-group col-2" *ngIf="x.value.arsip_link !== ''">
                                    <a href="{{x.value.arsip_link}}">
                                    <nb-icon icon="file-text-outline" status="primary" [options]="{ animation: { type: 'pulse' } }"></nb-icon>Download
                                    </a>
                                </div>
                                <div class="form-group col-3">
                                    <nb-icon icon="info-outline" status="info" (click)="openWindow(contentTemplate)" [options]="{ animation: { type: 'pulse' } }"></nb-icon> | 
                                    <nb-icon icon="checkmark-outline" status="warning" [options]="{ animation: { type: 'pulse' } }"></nb-icon> | 
                                    <nb-icon icon="checkmark-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
                                </div>
                                </div>
                            </div>
                            <div class="form-group col-8" *ngIf="x.value.id_tipe_indikator == 1">
                                <div class="row">
                                <div class="form-group col-5">
                                    {{x.value.pilihan_jawaban}}
                                </div>
                                <div class="form-group col-1">
                                    <input type="text" formControlName="nilai" class="form-control" fullWidth fieldSize="small"/>
                                </div>
                                <div class="form-group col-1">
                                </div>
                                <div class="form-group col-2" *ngIf="x.value.arsip_link == ''">
                                    <input id="myForm" formControlName="arsip_link" type="file" name="file" (change)="postMethod($event.target.files)">
                                </div>   
                                <div class="form-group col-2" *ngIf="x.value.arsip_link !== ''">
                                    <a href="{{x.value.arsip_link}}">
                                    <nb-icon icon="file-text-outline" status="primary" [options]="{ animation: { type: 'pulse' } }"></nb-icon>Download
                                    </a>
                                </div>
                                <div class="form-group col-3">
                                    <nb-icon icon="info-outline" status="info" (click)="openWindow(contentTemplate)" [options]="{ animation: { type: 'pulse' } }"></nb-icon> | 
                                    <nb-icon icon="checkmark-outline" status="warning" [options]="{ animation: { type: 'pulse' } }"></nb-icon> | 
                                    <nb-icon icon="checkmark-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
                                </div>
                                </div>
                            </div>
                            <div class="form-group col-8" *ngIf="x.value.id_tipe_indikator == 2">
                            <div class="row" *ngFor="let z of x.value.details">
                                <div class="form-group col-5" *ngIf="x.value.kode_indikator == z.kode_indikator_induk">
                                    {{z.indikator}}
                                </div>
                                <div class="form-group col-1" *ngIf="x.value.kode_indikator == z.kode_indikator_induk">
                                    <input type="text" formControlName="nilai" class="form-control" fullWidth fieldSize="small"/>
                                </div>
                                <div class="form-group col-1" *ngIf="x.value.kode_indikator == z.kode_indikator_induk">
                                    {{z.satuan}}
                                </div>
                                <div class="form-group col-2" *ngIf="x.value.kode_indikator == z.kode_indikator_induk && z.arsip_link == ''">
                                    <input id="myForm" formControlName="arsip_link" type="file" name="file" (change)="postMethod($event.target.files)">
                                </div>   
                                <div class="form-group col-2" *ngIf="x.value.kode_indikator == z.kode_indikator_induk && z.arsip_link !== ''">
                                    <a href="{{z.arsip_link}}">
                                    <nb-icon icon="file-text-outline" status="primary" [options]="{ animation: { type: 'pulse' } }"></nb-icon>Download
                                    </a>
                                </div>
                                <div class="form-group col-3" *ngIf="x.value.kode_indikator == z.kode_indikator_induk">
                                    <nb-icon icon="info-outline" status="info" (click)="openWindow(contentTemplate)" [options]="{ animation: { type: 'pulse' } }"></nb-icon> | 
                                    <nb-icon icon="checkmark-outline" status="warning" [options]="{ animation: { type: 'pulse' } }"></nb-icon> | 
                                    <nb-icon icon="checkmark-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
                                </div>
                            </div>
                            </div>                     
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary mr-1" type="submit">Simpan</button>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
        </nb-card-body>
        </nb-card>
    </div>
</div>
<ng-template #contentTemplate let-data>
<p>DATA HERE..."</p>
</ng-template>