<nb-card status="primary">
  <nb-card-header>
    Master Indikator
  </nb-card-header>
  <nb-card-body>
      <div class="row">
      <div class="col-lg-6">
      <nb-card>
        <nb-card-body>
          <div class="form-group">
          <label class="label">Prinsip</label>
          <nb-select selected=0 fullWidth class="pull-right status-info shape-rectangle">
            <nb-option value=0 (click)="prinsipClick2(event)">Semua</nb-option>
            <nb-option *ngFor="let x of prinsipx" value="x.id" (click)="prinsipClick2(x.id)">{{ x.prinsip }}</nb-option>
          </nb-select>
          </div>
          <div class="form-group">
          <label class="label">Jenis Data</label>
          <nb-select selected=0 fullWidth class="pull-right status-info shape-rectangle">
            <nb-option value=0 (click)="prinsipClick2(event)">Semua</nb-option>
            <nb-option *ngFor="let x of datax" value="x.id" (click)="prinsipClick(x.id)">{{ x.jenis }}</nb-option>
          </nb-select>
          </div>
        </nb-card-body> 
      </nb-card>
      </div>
      <div class="col-lg-2">
      <nb-card>
        <nb-card-body>
          <button class="btn-primary btn-md" (click)="openWindow(contentBobots)" nbButton>Isi Bobot</button>
        </nb-card-body> 
      </nb-card>
      </div>
      </div>
    <ng2-smart-table [settings]="indikators" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
    (createConfirm)="onCreateConfirm($event)" (userRowSelect)="onUserRowSelect($event, contentTemplate)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
<ng-template style="height: 500px" #contentTemplate let-data>
  <nb-card-body>
    <div style="height: 450px; overflow-y: auto; border-top: 1px solid #dee2e6;">
    <ng2-smart-table [settings]="indikatorDetails" [source]="sourceDetails" (deleteConfirm)="onDeleteConfirmD($event)" (editConfirm)="onSaveConfirmD($event)"
    (createConfirm)="onCreateConfirmD($event)       ">
    </ng2-smart-table>
    </div>
  </nb-card-body>  
</ng-template>
<ng-template style="height: 550px;" #contentBobots let-data>
  <nb-card-body>
    <nb-select selected=0 class="pull-right status-info shape-rectangle">
      <nb-option value=0 (click)=prinsipClick($event)>Pilih Prinsip</nb-option>
      <nb-option *ngFor="let x of pilihAh" value="x.id" (click)="prinsipClick(x.id)">{{ x.prinsip }}</nb-option>
      </nb-select>
  </nb-card-body>    
  <nb-card-body>
    <div style="height: 450px; overflow-y: auto; border-top: 1px solid #dee2e6;">
    <ng2-smart-table [settings]="indikatorBobots" [source]="sourceBobots"(editConfirm)="onSaveBobot($event)">
    </ng2-smart-table>
    </div>
  </nb-card-body>  
</ng-template>