<div class="row">
  <div class="col-lg-12">
    <nb-card status="primary">
      <nb-card-header>FORM PENGISIAN DATA INDEKS TATA KELOLA KEPOLISIAN</nb-card-header>
      <nb-card-body>
    <nb-card status="warning">
      <nb-card-header>
        KETERANGAN POLRES
      </nb-card-header>
      <nb-card-body>
        <div class="row" >
          <div class="col-md-12">
            <!-- <div class="row show-grid">
              <div class="col-sm-2">
                <div align="center">1.</div>
              </div>
              <div class="col-sm-2">
                <div align="right">
                  POLDA
                </div>
              </div>
              <div class="col-sm-4">
                <div align="left">
                  <div class="form-group">
                    
                  <nb-select selected=0 fullWidth class="pull-right status-info shape-rectangle">
                    <nb-option value=0>Pilih</nb-option>
                    <nb-option *ngFor="let x of satkerx" value="x.kode" (click)="prinsipClick(x.kode)">{{ x.satker }}</nb-option>
                  </nb-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-4"></div>
            </div> -->
            <div class="row show-grid">
              <div class="col-sm-2">
                <div align="center">1.</div>
              </div>
              <div class="col-sm-2">
                <div align="right">POLRES</div>
              </div>
              <div class="col-sm-4">
                <div align="left">
                  <div class="form-group">
                      <B>{{ nama_satker}} </B>
                  <!-- <nb-select selected=0 fullWidth class="pull-right status-info shape-rectangle">
                    <nb-option value=0>Pilih</nb-option>
                    <nb-option *ngFor="let x of satkerx2" value="x.kode" (click)="prinsipClick(x.kode)">{{ x.satker }}</nb-option>
                  </nb-select> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-4"></div>
            </div>
            <div class="row show-grid">
              <div class="col-sm-2">
                <div align="center">2.</div>
              </div>
              <div class="col-sm-2">
                <div align="right">TYPE POLRES</div>
              </div>
              <div class="col-sm-4">
                <div align="left">
                  <div class="form-group">
                      <B>{{ nama_tipe_polres}} </B>
                  <!-- <nb-select selected=0 fullWidth class="pull-right status-info shape-rectangle">
                    <nb-option value=0>Pilih</nb-option>
                    <nb-option *ngFor="let x of polresx" value="x.id" (click)="prinsipClick(x.id)">{{ x.tipe }}</nb-option>
                  </nb-select> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-4"></div>
            </div>
            <div class="row show-grid">
              <div class="col-sm-2">
                <div align="center">3.</div>
              </div>
              <div class="col-sm-2">
                <div align="right">Satfung</div>
              </div>
              <div class="col-sm-4">
                <div align="left">
                  <div class="form-group">
                      <B>{{ nama_satfung}} </B>
                  <!-- <nb-select selected=0 fullWidth class="pull-right status-info shape-rectangle">
                    <nb-option value=0>Pilih</nb-option>
                    <nb-option *ngFor="let x of polresx" value="x.id" (click)="prinsipClick(x.id)">{{ x.tipe }}</nb-option>
                  </nb-select> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-4"></div>
            </div>
            <div class="row show-grid">
              <div class="col-sm-2">
                <div align="center">4.</div>
              </div>
              <div class="col-sm-2">
                <div align="right">Nama KA{{nama_satfung}}</div>
              </div>
              <div class="col-sm-8">
                <div align="left"><input type="text" class="col-lg-4" nbInput placeholder=""></div>
              </div>
            </div>
            <div class="row show-grid">
              <div class="col-sm-2">
                <div align="center">5.</div>
              </div>
              <div class="col-sm-2">
                <div align="right">Notelp/HP KA{{nama_satfung}}</div>
              </div>
              <div class="col-sm-8">
                <div align="left"><input type="text" class="col-lg-4" nbInput placeholder=""></div>
              </div>
            </div>
            <div class="row show-grid">
              <div class="col-sm-2">
                <div align="center">6.</div>
              </div>
              <div class="col-sm-2">
                <div align="right">Nama Staff {{nama_satfung}}</div>
              </div>
              <div class="col-sm-8">
                <div align="left"><input type="text" class="col-lg-4" nbInput placeholder=""></div>
              </div>
            </div>
            <div class="row show-grid">
              <div class="col-sm-2">
                <div align="center">7.</div>
              </div>
              <div class="col-sm-2">
                <div align="right">Notelp/HP Staff {{nama_satfung}}</div>
              </div>
              <div class="col-sm-8">
                <div align="left"><input type="text"  class="col-lg-4" nbInput placeholder=""></div>
              </div>
            </div>
          </div>
        </div>
        <nb-card status="info">
          <nb-card-header>
              DAFTAR DATA OBJEKTIF 
              <small><i> (Data Otomatis tersimpan setelah anda melakukan pengisian.)</i> </small>
          </nb-card-header>
          <nb-card-body>
        <form [formGroup]="indexForm" (ngSubmit)="onSubmit()">
          <div style="overflow-x:auto;">
            <table class="responsive" border="0" *ngFor="let source of objek; let z of source.details; let i = index">
          <tr width="100%">
            <td style="vertical-align:top" width="6%">
              <div align="center">
                {{i+1}}
              </div>  
            </td>
            <td style="vertical-align:top" width="32%">
              <div align="left">
              <!-- <div align="left" *ngIf=" source.Jenis == 'P' "> -->
                {{ source.indikator}} 
                <hr>
              </div>               
            </td>
          <!-- <div class="row" *ngFor="let z of source.details"> -->
          <div *ngFor="let z of source.details; let i = index">
            <td style="vertical-align:top" width="24%">
              <!-- <div align="right" *ngFor="let z of source.details"> -->
                {{ z.indikator}} 
                <hr>
              <!-- </div> -->
            </td>
            <td style="vertical-align:top" width="10%">
              <div align="center">
                <!-- <input type="text" (change)=savedNilai($event) formControlName="nilai" id="{{z.id}}" nbInput fullWidth value="{{z.nilai}}"> -->
                <!-- <input type="text" formControlName="nilai" id="nilai" nbInput fullWidth value="{{z.nilai}}">
                <input type="text" formControlName="id" id="id " nbInput fullWidth value="{{z.id}}"> -->
                <input type="text" formControlName="nilai" id="nilai" nbInput fullWidth>
                <input type="text" formControlName="id" id="id " nbInput fullWidth>
                <hr>
              </div>              
            </td>
            <td style="vertical-align:top" width="10%">
              <div align="center">
                  {{ z.satuan}} 
              </div> 
            </td>
            <td style="vertical-align:top" width="10%">
              <div align="center">
               <small><i> {{ z.progress}}</i> </small>
              </div> 
            </td>
            <td style="vertical-align:top" width="8%">
              <!-- <div align="right" *ngFor="let z of source.details"> -->
                <!-- {{ z.arsip_link}}  -->
                <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
                  </div>   
                <label>
                  <input class="btn btn-info btn-sm" type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
                </label>
                <button type="button" class="start-upload-btn" (click)="startUpload()">
                  Start Upload
                </button>  
              <!-- </div> -->
            </td>
            <!-- <div class="col-sm-1">
            </div> -->
          </div>
          </tr>
          <button class="btn btn-primary mr-1">Simpan</button>
          </table>
        </div>
        </form>
      </nb-card-body>
          <!-- button -->
          <!-- <nb-card-body>
            <div class="row show-grid">
                <div class="col-sm-2">
                  <div align="right">
                    <button nbButton status="primary" hero>Upload File Pengesahan</button>
                  </div>
                  </div>
                  <div class="col-sm-7"></div>
                  <div class="col-sm-3">
                    <div align="right">
                    <button nbButton status="warning" hero>Print Untuk Pengesahan</button>
                    </div>
                  </div>
              </div>
          </nb-card-body> -->
        </nb-card>
        </nb-card-body>
        </nb-card>
        <!-- aaaaaaaaa -->
      </nb-card-body>
    </nb-card>
  </div>
</div>
<form [formGroup]="indexForm2" (ngSubmit)="onSubmit()" >
  <!-- <div *ngFor="let source of objek">
  <div *ngFor="let z of source.details; let i = index"> -->
<div class="form-group"> 
   <input type="text" class="form-control" formControlName="nilai2" id="nilai2" nbInput fullWidth>
  <input type="text" class="form-control" formControlName="id2" id="id2" nbInput fullWidth>
</div>

  <!-- </div>
</div> -->
  <button class="btn btn-primary mr-1">Simpan</button>
</form>

<!-- <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
  <h1>Drag &amp; Drop</h1>
</div>

<label class="upload-button">
  <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
  or choose file(s)
</label>

<button type="button" class="start-upload-btn" (click)="startUpload()">
  Start Upload
</button>

<pre>{{files | json}}</pre> -->